main {
  max-width: 500px;
  border-radius: 10px;
  max-height: 443px;
  min-height: 391px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.title {
  font-size: 40px;
  margin: 0;
  text-align: center;
}
.info {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 52px;
  text-align: center;
}
/* change only main size  */
@media only screen and (max-width: 500px) {
  main {
    width: 80vw;
    height: 400px;
  }
}
@media only screen and (max-width: 355px) {
  main {
    width: 80vw;
    height: 300px;
  }
}
/* die-container */
.die-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  padding: 0 42px;
  gap: 19px;
}
button {
  font-weight: 700;
  background-color: #5035ff;
  font-size: 28px;
  width: 169px;
  height: 47px;
  border-radius: 4px;
  border: none;
  align-self: center;
  margin-top: 35px;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 541px) {
  .die-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .die:nth-child(9) {
    grid-column: 2/3;
  }
}
@media only screen and (max-width: 500px) {
  .title {
    font-size: 24px;
  }
  .info {
    margin-bottom: 12px;
  }
  .die-container {
    padding: 0;
  }
  .main {
    padding: 0 17px;
  }
}
@media only screen and (max-width: 377px) {
  .die-container {
    gap: 20px;
  }
  .die {
    font-size: 24px !important;
    width: 34px !important;
    height: 34px !important;
  }
}
